:root{
    --background: rgba(25, 25, 25, 1);
    --nav: rgba(128, 0, 0, 1)
}

/* FONTS */

@font-face {
    font-family: Typewriter;
    src: url(files/fonts/typewriter.ttf);
}

/* HEAD */

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial;
    color: white;
    /* background: url(files/images/background.png); */
    background-color: var(--background);
    background-size: 100vw 100vh;
    max-width: 100vw;
    min-height: 100vh;
}

/* BODY */

.page-section{
    display: flex;
    margin: auto;
    width: 90vw;
    min-height: 10vh;
    padding: 10px;
}

.page-style{
    background: rgba(128, 128, 128, 0.75);
    border: 5px solid rgba(255, 255, 255, 0.5);
    border-radius: 25px;
}

h1{
    text-align: center;
}

/* WEBSITE BOX (for color flash) */

.website-box{
    display: none;
    position: absolute;
    width: 100vw;
    height: 100vh;
}

/* TITLE */

.name{
    display: flex;
    justify-content: center;
}

.name .letters{
    display: flex;
    font-family: Typewriter;
    transition: transform 0.25s;
    color: white;
    user-select: none;
    font-size: 8vw;
    justify-content: space-evenly;
    margin: 1vw;
}

.name .letters *{
    transition: color 0.25s
}

.click-title .letters:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.click-title .letters:hover > .first-letter{
    color: red;
}

/* HEADER */

header{
    display: flex;
    background: var(--nav);
    justify-content: center;
    text-align: center;
    flex-direction: row;
    font-size: 24px;
    gap: 15px;
}

/* HOME */

.home{
    display: flex;
    flex-direction: column;
}

.season{
    display: flex;
    background: rgba(0, 0, 0, 0.5);
    transition: height 0.35s;
    flex-direction: column;
    overflow: hidden;
    border-radius: 15px;
    padding: 10px;
}

.season-text{
    display: flex;
    justify-content: center;
    font-family: roboto;
    user-select: none;
    display: flex;
    flex-direction: row;
    gap: 5px;
    font-size: 48px;
    margin: 10px;
    align-content: center;
}

.season-text .arrow{
    transition: transform 0.25s;
}

.season-text:hover{
    cursor: pointer;
}

.episodes{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.first-ep{
    background: url(files/images/one/1.png);
    background-size: 100% 100%;
}

.second-ep{
    background: url(files/images/one/2.png);
    background-size: 100% 100%;
}

.third-ep{
    background: url(files/images/one/3.png);
    background-size: 100% 100%;
}

.four-ep{
    background: url(files/images/one/4.png);
    background-size: 100% 100%;
}

.episodes div{
    transition: 0.125s filter, 0.125s transform;
    filter: brightness(0.75);
    width: 300px;
    height: 700px;
    margin: 0 10px;
}

.episodes div:hover{
    filter: brightness(1.25);
    transform: scale(0.85) skew(0deg, 5deg);
    cursor: pointer;
}

/* SOCIALS */

.socials{
    justify-content: center;
    flex-direction: row;
    gap: 25px;
}

.social-icon{
    width: 128px;
    height: 128px;
    transition: 0.25s filter, 0.25s rotate;
    filter: saturate(0.5) brightness(0.75);
}

.social-icon:hover{
    filter: saturate(1) brightness(1);
    rotate: 5deg;
}

.youtube{
    background: url(files/images/socials/youtube.png);
    background-size: 100% 100%;
}

.gmail{
    background: url(files/images/socials/gmail.png);
    background-size: 100% 100%;
}

@media only screen and (max-width: 425px){
    header{
        flex-direction: column;
    }
}